
<div class="login-info">
	<form ab-elem="form" method="post" role="form" name="form" id="form" >
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
                    <i class="fa fa-user fa-lg"></i>
                </div>
				<input ab-elem="login"
                        placeholder="{{eText('Users:logIn_Login_Placeholder')}}"
						value="{{login}}"
    					type="text" required="" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
			  	<div class="input-group-addon">
					<i class="fa fa-lock fa-lg"></i>
				</div>
			  	<input ab-elem="password"
                        placeholder="{{eText('Users:logIn_Password_Placeholder')}}"
						value="{{password}}"
    					type="password" required="" class="form-control" />
		  	</div>
		</div>
		<div ab-show="error.show" class="alert alert-danger">
			<p>{{error.message}}</p>
	 	</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary mg-full">
				{{eText('Users:logIn_LogIn')}}
			</button>
		</div>
	</form>

	<div ab-holder="notifications"></div>
</div>
