<div class="form_holder mg-spacer-top">
    <div ab-show="error.show" class="alert alert-warning">
        {{error.message}}
    </div>
    <form ab-elem="form" name="form" role="form">

        <div class="form-group {{oldPassword.class}}">
            <i class="fa fa-key"></i>
            <label for="login">
                {{eText('Users:ChangePassword_oldPassword_Label')}}
            </label>
            <input ab-elem="oldPassword"
                    type="password" name="login" id="login" required=""
                    placeholder="{{eText('Users:ChangePassword_oldPassword_Placeholder')}}"
                    class="form-control" />
            <span ab-show="oldPassword.error.show" class="error">
                {{oldPassword.error.message}}
            </span>
        </div>

        <div class="form-group {{newPassword.class}}">
            <i class="fa fa-lock"></i>
            <label for="password">
                {{eText('Users:ChangePassword_newPassword_Label')}}
            </label>
            <input ab-elem="newPassword"
                    type="password" name="password" id="password" required=""
                    placeholder="{{eText('Users:ChangePassword_newPassword_Placeholder')}}"
                    class="form-control" />
        </div>
        <div class="form-group {{newPassword.class}}">
            <input ab-elem="newPasswordConfirmation"
                    type="password" name="password" id="password" required=""
                    placeholder="{{eText('Users:ChangePassword_newPasswordConfirmation_Placeholder')}}"
                    class="form-control" />
            <span ab-show="newPassword.error.show" class="error">
                {{newPassword.error.message}}
            </span>
        </div>

        <div class="form-actions">
            <button
                type="submit" class="btn btn-danger">
                {{eText('Users:ChangePassword_Submit')}}
            </button>
        </div>
    </form>
</div>

<div ab-holder="notifications"></div>
