[submodule "PDF/3rdparty/pdfparser"]
	path = PDF/3rdparty/pdfparser
	url = https://github.com/smalot/pdfparser
[submodule "PDF/3rdparty/tc-lib-pdf-parser"]
	path = PDF/3rdparty/tc-lib-pdf-parser
	url = https://github.com/tecnickcom/tc-lib-pdf-parser
