
<spk-form-field form="Form" name="Published" type="Checkbox"
        label="$eText('Articles:labels_Published')"
        placeholder="$eText('Articles:labels_Published')..." />

<spk-form-field form="Form" name="Title" type="Input" input-type="text"
        label="$eText('Articles:labels_Title')"
        placeholder="$eText('Articles:labels_Title')..." />

<spk-form-field form="Form" name="Publish" type="DateTime"
        label="$eText('Articles:labels_Publish')"
        placeholder="$eText('Articles:labels_Publish')..." />

<spk-form-field form="Form" name="Intro" type="TextArea"
        label="$eText('Adm:labels_ArticleIntro')" placeholder="$eText('Adm:labels_Intro')..."
        rows="3" />

<div class="row">
    <div class="col-md-6">
        <$ _holder="introUpload" />
    </div>
    <div class="col-md-6">
        <$ _holder="filesUpload" />
    </div>
</div>

<$ _holder="imagesUpload" />

<div class="card border-gray mb-3">
    <div class="card-header card-gray">
        $eText('Articles:texts_Content')
    </div>
    <div class="spk-editor">
        <spk-form-field form="Form" name="Content_Raw" type="TextArea" placeholder="$eText('Adm:labels_Content')..."
                rows="20" />
    </div>
</div>

<$ _holder="galleryUpload" />
