
<div class="row g-3">
    <div class="col-lg-6">
        <spk-form-field _hide="hide.form.Title" form="Form" name="Title"
                type="Input" input-type="text" label="$eText('Articles:Labels_Title')" />
    </div>
    <div class="col-lg-6">
        <spk-form-field form="Form" name="AuthorName"
                type="Input" input-type="text" label="$eText('Articles:Labels_Author')"  />
    </div>
    <div class="col-md-6">
        <spk-form-field _hide="hide.form.Publish" form="Form" name="Publish"
                type="DateTime" label="$eText('Articles:Labels_Publish')" />
    </div>
    <div class="col-md-6 checkbox-holder">
        <spk-form-field _hide="hide.form.Published" form="Form" name="Published"
                type="Checkbox"
                label="$eText('Articles:Labels_Published')" /> 
    </div>
    <div class="col-lg-6">
        <spk-form-field _hide="hide.form.Intro" form="Form" name="Intro"
                type="TextArea" label="$eText('Articles:Labels_ArticleIntro')"
                placeholder="$eText('Articles:Labels_Intro')..." rows="3" />
    </div>
    <div class="col-lg-6">
        <spk-form-field form="Form" name="IntroImage_Description" type="Input" 
                input-type="text"
                label="$eText('Articles:Labels_IntroImage_Description')"
                placeholder="$eText('Articles:Labels_IntroImage_Description')..." />
    </div>
    <div class="col-lg-6">
        <$ _holder="introUpload" />
    </div>
    <div class="col-lg-6">
        <$ _holder="filesUpload" />
    </div>
    <div class="col-lg-12">
        <$ _holder="imagesUpload" />
    </div>
    <div class="col-lg-12 spk-editor">
            <spk-form-field form="Form" name="Content_Raw" type="TextArea"
                    placeholder="$eText('Articles:Labels_Content')..." rows="20" />
    </div>
    <div class="col-lg-12">
        <$ _holder="galleryUpload" />
    </div>
</div>