
<spk-form-field form="Form" name="Title" type="Input" input-type="text"
        label="$eText('Articles:labels_Title')" 
        placeholder="$eText('Articles:labels_Title')..." />

<spk-form-field form="Form" name="Publish" type="DateTime"
        label="$eText('Articles:labels_Publish')" 
        placeholder="$eText('Articles:labels_Publish')..." />

<spk-form-field form="Form" name="Intro" type="TextArea"
        label="$eText('Adm:labels_Intro')" placeholder="$eText('Adm:labels_Intro')..."
        rows="3" />

<$ _holder="introUpload" />

<$ _holder="filesUpload" />

<$ _holder="imagesUpload" />

<div class="spk-editor">
    <spk-form-field form="Form" name="Content_Raw" type="TextArea"
            label="$eText('Adm:labels_Content')" placeholder="$eText('Adm:labels_Content')..."
            rows="20" />
</div>

<$ _holder="galleryUpload" />