
<form _elem="form" class="form-light" name="LogIn">
    <span>$message</span>
    <div class="form-group">
        <label for="logIn_Form_Password">$eText('Web:texts_OldPassword')</label>
        <input _elem="password" id="users_ChangePassword_OldPassword" type="password"
                class="form-control" placeholder="" />
        <div id="rent_Form_Password_Feedback" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="logIn_Form_Password">$eText('Web:texts_NewPassword')</label>
        <input _elem="newPassword" id="users_ChangePassword_NewPassword" type="password"
                class="form-control" placeholder="" />
        <div id="rent_Form_Password_Feedback" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="logIn_Form_Password">$eText('Web:texts_RepeatPassword')</label>
        <input _elem="newPassword_Repeat" id="users_ChangePassword_NewPassword_Repeat" type="password"
                class="form-control" placeholder="" />
        <div id="rent_Form_Password_Feedback" class="invalid-feedback"></div>
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-sk-light">$eText('Web:texts_Submit')</button>
</form>
