
<!-- Main menu panel -->
<!-- System header -->
<div class="lb-header">
	<!--<h2>
		<img ab-show="image" alt="title" src="{{image}}" />
		<i ab-hide="image" class="fa {{faIcon}}"></i>
		{{title}}
	</h2>-->
</div>
<!-- Main categories -->
<div class="lb-menu-main mg-spacer-top-s row">
	<div ab-repeat="eFields.panels:panel" class="col-lg-3 col-sm-6 mg-spacer-bottom-s {{panel.class}}">
		<h1>
			<a class="btn btn-default mg-full" href="{{panel.uri}}">
				<img ab-show="panel.image" src="{{panel.image}}" alt="panel.title" />
				{{panel.title}}
			</a>
		</h1>
		<!--<div ab-repeat="panel.menu:subpanel" class="lb-menu-item {{subpanel.class}}">
			<a href="{{panel.uri}}{{subpanel.alias}}" class="btn btn-default mg-full">
				<i class="fa {{subpanel.faIcon}}"></i><br />
				{{subpanel.title}}
			</a>
		</div>-->
	</div>
</div>
<div class="mg-clear"></div>
